<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include ('partials/head') %>

</head>

<body>
    <%- include ('partials/navigation') %>
        <main class="container vh-100 justify-content-center align-items-center d-flex pt-3 text-center">
            <section>
                <h1 class="display-1">About</h1>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta mollitia voluptatem repellendus rerum laborum molestias in dolor accusantium sunt nisi repudiandae ab doloribus veniam aut temporibus quis, voluptates ratione magnam, error alias qui distinctio officia fuga. Eaque hic accusamus maiores ipsum magnam quis! Dolore aut quos magnam aliquam, est minus porro laborum nisi, iste sed accusamus eaque ipsam veritatis perspiciatis, deserunt facilis cumque saepe dicta repudiandae ipsa quae. Illum nesciunt vitae at necessitatibus exercitationem, aspernatur autem, porro quia impedit nulla nobis fuga dignissimos, nemo ex? Quidem maxime, incidunt necessitatibus tempore veritatis repudiandae recusandae, fugit earum blanditiis, sequi sunt vero. Natus, necessitatibus laboriosam? Architecto veniam dignissimos, consequatur ipsam ex culpa iste voluptas beatae inventore distinctio mollitia illo ad saepe minus perspiciatis at sed dicta. Inventore voluptatum voluptate aliquam doloribus porro minima ipsum sequi cumque blanditiis! In labore expedita maxime, ipsam ea veniam deleniti maiores dolorum exercitationem accusamus quaerat adipisci, voluptates, quia inventore vel quam impedit animi modi nostrum ab. Dolores porro iusto ipsa eius et obcaecati exercitationem beatae aut aperiam, enim quo excepturi aliquid inventore atque, asperiores quos architecto placeat quasi animi reiciendis, reprehenderit impedit alias? Vero natus enim, fuga culpa praesentium placeat suscipit facilis sunt tempore, id a odio inventore facere vel aliquid doloremque itaque quibusdam! Porro sapiente laboriosam deserunt iste ea sint accusamus, amet suscipit, alias optio dolor assumenda fugit ad sequi corporis ipsa. Rerum nam mollitia maiores recusandae quis consectetur eos, sequi quidem ex? Voluptate excepturi eaque officiis nihil. Tempora recusandae tempore dolorem voluptate alias laudantium non provident facere optio dolore neque sint, quas a. Reiciendis necessitatibus recusandae corporis vel ex architecto, numquam eius dolorem fugit modi molestiae ut. Sint expedita quod accusantium perferendis totam quam, culpa voluptate officiis ad aliquid corporis doloribus distinctio corrupti aut ducimus illo mollitia alias dolor modi deserunt possimus itaque laboriosam blanditiis ab?</p>
            </section>
        </main>
   <%- include ('partials/footer') %>

</body>

</html>